<html><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shotspy screenshot app</title>
  <meta name="description" content="Codeply is a free online editor for Web developers and designers with code sample snippets.">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
  
  <div class="container">
    	<div class="row">
    		<div class="col">
    		
    		  <%- body %>
    		
    		</div>
    	</div><!--/row-->
  </div><!--container-->
  
  <!--scripts loaded here-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>